In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:
#Load In Data

In [53]:
Titanic = sns.load_dataset('titanic')

In [54]:
Titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [55]:
#Data Wrangling

In [56]:
Titanic1= Titanic.drop('embark_town', axis=1)

In [57]:
Titanic1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,no,True

In [58]:
Titanic2=Titanic1.drop('who', axis=1)

In [59]:
Titanic3=Titanic2.drop('deck', axis=1)

In [60]:
Titanic4=Titanic3.drop('embarked', axis=1)

In [61]:
Titanic4.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,class,adult_male,alive,alone
0,0,3,male,22.0,1,0,7.2500,Third,True,no,False
1,1,1,female,38.0,1,0,71.2833,First,False,yes,False
2,1,3,female,26.0,0,0,7.9250,Third,False,yes,True
3,1,1,female,35.0,1,0,53.1000,First,False,yes,False
4,0,3,male,35.0,0,0,8.0500,Third,True,no,True
5,0,3,male,NaN,0,0,8.4583,Third,True,no,True
6,0,1,male,54.0,0,0,51.8625,First,True,no,True
7,0,3,male,2.0,3,1,21.0750,Third,False,no,False
8,1,3,female,27.0,0,2,11.1333,Third,False,yes,False
9,1,2,female,14.0,1,0,30.0708,Second,False,yes,False

In [62]:
#Recode the text

In [63]:
def sex(series):
    if series == "male":
        return 0
    if series == "female":
        return 1
Titanic4['sexR']= Titanic4['sex'].apply(sex)

In [64]:
Titanic4.adult_male.value_counts()

True     537
False    354
Name: adult_male, dtype: int64

In [65]:
Titanic4.alone.value_counts()

True     537
False    354
Name: alone, dtype: int64

In [66]:
Titanic4.alive.value_counts()

no     549
yes    342
Name: alive, dtype: int64

In [67]:
Titanic4['class'].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [68]:
def alive(series):
    if series == "no":
        return 0
    if series == "yes":
        return 1
Titanic4['aliveR']= Titanic4['alive'].apply(alive)

In [69]:
Titanic4.head()

,survived,pclass,sex,age,sibsp,parch,fare,class,adult_male,alive,alone,sexR,aliveR
0,0,3,male,22.0,1,0,7.2500,Third,True,no,False,0,0
1,1,1,female,38.0,1,0,71.2833,First,False,yes,False,1,1
2,1,3,female,26.0,0,0,7.9250,Third,False,yes,True,1,1
3,1,1,female,35.0,1,0,53.1000,First,False,yes,False,1,1
4,0,3,male,35.0,0,0,8.0500,Third,True,no,True,0,0

In [70]:
Titanic4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   sex         891 non-null    object
 3   age         714 non-null    float64
 4   sibsp       891 non-null    int64
 5   parch       891 non-null    int64
 6   fare        891 non-null    float64
 7   class       891 non-null    category
 8   adult_male  891 non-null    bool
 9   alive       891 non-null    object
 10  alone       891 non-null    bool
 11  sexR        891 non-null    int64
 12  aliveR      891 non-null    int64
dtypes: bool(2), category(1), float64(2), int64(6), object(2)
memory usage: 72.5+ KB

Drop the Missing and Infinite Values

In [71]:
Titanic4.dropna(inplace= True)

In [75]:
def adult_male (series):
    if series == False:
        return 0
    if series == True:
        return 1
Titanic4['adult_maleR']= Titanic4['adult_male'].apply(adult_male)
Titanic4['aloneR']= Titanic4['alone'].apply(adult_male)

In [72]:
#Define x and y variable

In [76]:
x=Titanic4[['pclass','sexR', 'age', 'sibsp', 'parch', 'fare', 'aloneR', 'adult_maleR']]
y=Titanic4['survived']

In [77]:
Titanic4.head()

,survived,pclass,sex,age,sibsp,parch,fare,class,adult_male,alive,alone,sexR,aliveR,adult_maleR,aloneR
0,0,3,male,22.0,1,0,7.2500,Third,True,no,False,0,0,1,0
1,1,1,female,38.0,1,0,71.2833,First,False,yes,False,1,1,0,0
2,1,3,female,26.0,0,0,7.9250,Third,False,yes,True,1,1,0,1
3,1,1,female,35.0,1,0,53.1000,First,False,yes,False,1,1,0,0
4,0,3,male,35.0,0,0,8.0500,Third,True,no,True,0,0,1,1

In [78]:
x.head()

   pclass  sexR   age  sibsp  parch     fare  aloneR  adult_maleR
0       3     0  22.0      1      0   7.2500       0            1
1       1     1  38.0      1      0  71.2833       0            0
2       3     1  26.0      0      0   7.9250       1            0
3       1     1  35.0      1      0  53.1000       0            0
4       3     0  35.0      0      0   8.0500       1            1

In [79]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

Train Test Split

In [80]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.4)

Create the Initial Decision Tree

In [81]:
decisionTree = DecisionTreeClassifier()
decisionTree.fit(x_train, y_train)

DecisionTreeClassifier()

In [82]:
treePredictions = decisionTree.predict(x_test)
print(confusion_matrix(y_test, treePredictions))

[[134  35]
 [ 28  89]]

In [83]:
print(classification_report(y_test, treePredictions))

              precision    recall  f1-score   support

           0       0.83      0.79      0.81       169
           1       0.72      0.76      0.74       117

    accuracy                           0.78       286
   macro avg       0.77      0.78      0.77       286
weighted avg       0.78      0.78      0.78       286

Create the Initial Random Forest Model

In [90]:
forest = RandomForestClassifier()
forest.fit(x_train, y_train)

RandomForestClassifier()

In [91]:
print(accuracy_score(y_test, forest.predict(x_test)))

0.8181818181818182